<h1 class='text-center my-4'>All the Articles (total <%= @articles.length %>)</h1>
<div class="flickr_pagination">
  <%= will_paginate @articles, :container => false %>
</div>
<%= render 'article'%>
<div class="flickr_pagination mb-10">
  <%= will_paginate @articles, :container => false %>
</div>
