<h1 class='text-center my-4'>Edit category name</h1>
<div class="container">
  <%= render 'form'%>
  <%= link_to 'Back to category show', category_path(@category), class: 'row justify-content-center text-info mt-3' %>
</div>
