<h1 class='text-center my-4'>Create a new categorie</h1>
<div class="container">
  <%= render 'form'%>
  <%= link_to 'Back to category overview', categories_path, class: 'row justify-content-center text-info mt-3' %>
</div>
