<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to 'Derow.nl', "https://derow.nl", target: '_blank', class: 'text-white' %></small>
  </div>
</footer>
